* {
    margin: 0;
    padding: 0;
    font-family: 'poppins';
}

/* NAVBAR WORKINH FLOW */

#nav {
    top: 0;
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: center;
}

#nav ul {
    display: flex;
    margin-left: -27px;
}

#nav ul li {
    padding: 5px;
    list-style: none;
    text-decoration: none;
}
#nav a {
    color: #000000;
    text-decoration: none;
}

#nav ul li:hover {
    color: #DC3535;
    cursor: pointer;
    transition: 0.5s;
}

#container-1 {
    margin-top: 50px;
    z-index: -1;
    justify-content: center;
}
.heading {
    height: 100px;
    display: flex;
    align-items: center;
    margin-top: 50px;
    flex-direction: column;
    justify-content: center;
}
.heading-1 {
    height: 250px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.heading-2 {
    height: 350px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.heading h1 {
    font-size: 28px;
    font-weight: 700;
    color: #001253;
}

.heading h2 {
    font-size: 35px;
    font-weight: 900;
}

.heading-3 {
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.heading-3 img {
    width: 100%;
}

.heading-4 {
    height: 280px;
    display: flex;
    color: #000000;
    text-align: center;
    margin-top: 120px;
    position: relative;
    z-index: -1;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: #000000;
    background-color: #e3f2fd;
    clip-path: polygon(0 9%, 100% 0%, 100% 90%, 0 100%);
}

.heading-5 {
    height: 150px;
    display: flex;
    font-weight: 900;
    text-align: center;
    align-items: center;
    margin-top: 100px;
    position: relative;
    z-index: -1;
    flex-direction: column;
    justify-content: center;
    color: #000000;
    background-color: #e3f2fd;
    clip-path: polygon(0 9%, 100% 0%, 100% 90%, 0 100%);
}

.heading-5 h1 {
    font-weight: 900;
}

.heading-6 {
    height: 150px;
    display: flex;
    font-weight: 900;
    position: relative;
    z-index: -1;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color:#000000;
    background-color: #e3f2fd;
    clip-path: polygon(0 9%, 100% 0%, 100% 90%, 0 100%);
}

.heading-6 h1 {
    font-weight: 900;
}

span {
    color: #DC3535;
}

/* WORKING OF TOWNSHIPS CONTAINER */

.township {
    margin-top: 120px;
}
.haridaan{
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}
.haridaan #h{
    margin-top: 40px;
}
.haridaan ul{
    display: flex;
    align-items: left;
    flex-direction: column;
}
.haridaan ul li{
    list-style: circle;
    height: 25px;
    width: 250px;
}
.hari{
    align-items: left;
    text-align: left;
    justify-content: center;
}

#township {
    position: static;
    z-index: -1;
}

.container-pics {
    height: 200vh;
    width: 100%;
    display: flex;
    margin-top: 100px;
    align-items: center;
    /* background-color: #DC3535; */
    flex-direction: column;
}
.container-pics img {
    height: 400px;
    width: 250px;
    padding-top: 20px;
}

/* AGENT WORKING FLOW */

.agent {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 100px;
    flex-direction: column;
    justify-content: center;
}

.agent img {
    height: 200px;
    width: 200px;
    clip-path: circle(30.0% at 50% 50%);
}

.agent-name h2 {
    font-weight: 600;
}

/* WORKING FLOW OF DETAILS */

#icons_container {
    height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.icon-img {
    height: 5vh;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-img img {
    padding: 10px;
}

.icon-img img:hover {
    cursor: pointer;
}

.h3_text {
    height: 8vh;
    width: 300px;
    display: flex;
    margin-top: 40px;
    color: #717171;
    align-items: center;
    justify-content: center;
}

/* WORKING FLOW OF BUTTON */
#b-2 {
    height: 8vh;
    width: 120px;
    color: #f9f9f9;
    position: fixed;
    align-items: center;
    justify-content: center;
    border: 1px solid #000000;
    border-bottom-right-radius: 86px;
    border-top-right-radius: 86px;
    background-color: #000000;
}

#b-2:hover {
    cursor: pointer;
    transition: 0.5s;
    color: #000000;
    background-color: #f9f9f9;
    border: 1px solid #000000;
}

#a-1 {
    text-decoration: none;
}

/* PROJECT_PICS CONTYAINER WORKING */
.project-pics{
    height: 190vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #DC3535; */
    justify-content: center;
}
.project-pics img{
    height: 200px;
    width: 300px;
    padding: 30px;
}

/* WORKING OF AAYAN CONTAINER */
.AAYAN{
    height: 105vh;
    width: 100%;
    z-index: -1;
    display: flex;
    color: #000000;
    text-align: center;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color:#e3f2fd;
    clip-path: circle(57.9% at 50% 50%);
}
/* WORKING OF VIDEO CONTAINER */
.video{
    height:60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
video{
    height: 40vh;
    width: 100%;
}
.happy{
    height:20vh;
    width: 100%;
    z-index: -1;
    display: flex;
    color: #f9f9f9;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
}
.location{
    height: 35vh;
    width: 100%;
    display: flex;
    margin-top: 40px;
    align-items: center;
    margin-bottom: -40px;
    justify-content: center;
    flex-direction: column-reverse;
}
.location h2{
    font-weight: bold;
}